@charset "UTF-8";
.body-background{
	background-color: rgba(242, 242, 242, 1);
	background-size: 100% 100%;
}
.user-config-div{
	font-size:23px;
	font-weight:400;
	padding: 24px 0;
	box-sizing: border-box;
    margin-top:5%;
    margin-left:5%;
    width: 90%;
    height: 15%;
    max-height:150px;
    overflow: hidden;
    max-width: 1100px;
    background-color: #FFF;
    padding:5px;
    display: flex;
    justify-content: space-around;
}
li{
	list-style-type:none;
	margin-top:40px ;
	margin-bottom:40px ;
}
#reset{
	margin-left:45px;
	
 	width:20px;
 	height:20px;
}
#reset2{
	margin-left:2px;
	
 	width:20px;
 	height:20px;
}
.order-div{
	margin-top: 6%;
    margin-left: 5%;
    width: 90%;
   
    box-sizing: border-box;
    box-shadow: none;
   
    border-width: 5px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-radius: 0px;
}
.order-head{
	margin-top:2%;
	margin-left:37%;
	font-size:xx-large;
}

.orderNo{
	text-align:center;
	width:200px;
	height:50px;
}
.orderTime, .orderPrice{
	text-align:center;
	width:150px;
	height:50px;
}

table{
	
	margin-top:3%;
}

input[type='text'],input[type='password']{
	font-size:23px;
	font-weight:400;
	margin:25px;
	width: 313px;
    height: 55px;
}
input[type='submit']{
	background:#FFF;
	font-size:23px;
	font-weight:700;
	width:100px;
	height:40px;
	margin-left: 60%;
}
#reset{
	margin-left:45px;
	
 	width:20px;
 	height:20px;
}
#reset2{
	margin-left:2px;
	
 	width:20px;
 	height:20px;
}

.orderNo{
	text-align:center;
	width:200px;
	height:50px;
}
.orderTime, .orderPrice{
	text-align:center;
	width:150px;
	height:50px;
}

table{
	
	margin-top:3%;
}