@charset "UTF-8";
.body-background{
	background-color: rgba(242, 242, 242, 1);
	background-size: 100% 100%;
}
.user-info{
	margin-top:2%;
    margin-left:5%;
    width: 90%;
    height: 75%;
	box-sizing: border-box;
    box-shadow: none;
    background: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-radius: 0px;
}
.user-config-div{
	font-size:23px;
	font-weight:400;
	
	box-sizing: border-box;
   
    margin-left:5%;
    width: 90%;
    height: 20%;
    max-height:150px;
    overflow: hidden;
    max-width: 1100px;
    background-color: #FFF;
    padding:5px;
    display: flex;
   
}


.head-icon{
	margin-top:35%;
	margin-left:45%;
	width: 70px;
	height: 70px;
	
}
.user-config{
	margin-left: 20px;
}
.user-config-info{
	
	margin-left:0;
}
.user-config-info-p{
	margin-top: 4%;
	margin-left:10%;
	font-size: medium;
}
.user-config-info-tip
{
	margin-top: 3%;
	margin-left:55%;
	font-size: medium;
}
.hori-line img{
	
	position: absolute;
	left:9.5%;
}
.change-info{
	
	box-sizing: border-box;
   
    margin-left:5%;
    width: 90%;
    height: 80%;
   
    overflow: hidden;
    max-width: 1100px;
    background-color: #FFF;
    padding:5px;
    
}
.input-area{
	margin-left:15%;
	
	height:30%
}
.input-area form{
	
	margin-left:20%;
	margin-bottom:5%;
}
.input-text{
	margin-top:3%;
	
}
.change-pw{
	margin-left:35%;
	
}
.save-change{
	margin-left:20%;
	margin-top:30%;
}
#reset{
	margin-left:45px;
	
 	width:20px;
 	height:20px;
}
#reset2{
	margin-left:2px;
	
 	width:20px;
 	height:20px;
}
#user-config
{
	margin-top:3%;
	
	
}
#user-pass
{
	margin-top:10%;
}
#submit-config-form{
	margin-top:3%;
	margin-left:28%;
}
#submit-pass-form{
	margin-top:3%;
	margin-left:28%;
}

