@charset "UTF-8";
.userNo,.userName,.password,.tel,.email{
	
	text-align:right;
	
}
#userNo,#userName,#password,#tel,#email{
	text-align:right;
	width:200px;
	height:30px;
	color:red;
}
.page_info{
	display:inline-block;
	margin-left:3%
	text-align:left;
}
.page_show{
	display:inline-block;
	margin-left:70%;
	text-align:right;
	
}
input[type="radio"]#select{
	display:none;
}
.unchecked{
	background-image:url(../Img/cbu.png);
	background-size:100% 100%;
	width:32px;
	
}
.checked{
	background-image:url(../Img/cb.png);
	background-size:100% 100%;
	
}